.carrosel {
  text-align: center;
  color: white;
  position: sticky;
  height: auto;
  background: #429ec2;
  background: linear-gradient(90deg, rgb(15, 83, 110) 0%, rgba(28, 70, 94, 0.596) 50%, rgb(29, 101, 129) 100%);
}

.hero-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.carrosel-container {
  margin: 5px auto;
  box-shadow: 2.2px 0px 10px rgba(0, 0, 0, 0.726);
  border: none;
  width: 75%;
  height: 40em;
}

.carousel-image {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 40em;
  overflow: hidden;
  object-fit: cover;
  filter: brightness(0.4);
  box-shadow: 2px 0px 10px #00000085;
}

.hero-text {
  margin-top: 100px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtext {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 895px) {
  .hero-text {
    font-size: 35px;
  }

  .hero-subtext {
    font-size: 18px;
  }

  .btn-reservar {
    width: 50%;
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .carrosel-container {
    margin: 5px auto;
    box-shadow: 2.2px 0px 10px rgba(0, 0, 0, 0.726);
    border: none;
    width: 100%;
    height: 40em;
  }

  .carousel-image {
    width: 100%;
    height: 40em;
    object-fit: cover;
    filter: brightness(0.4);
    box-shadow: 2px 0px 10px #00000085;
  }

  .carrosel {
    background: white;
  }
}

@media (max-width: 684px) {
  .hero-text {
    font-size: 30px;
  }

  .hero-subtext {
    font-size: 17px;
  }
}

@media (max-width: 520px) {
  .carousel-image {
    width: 100%;
    height: 40em;
    object-fit: cover;
    filter: brightness(0.4);
    box-shadow: 2px 0px 10px #00000085;
  }

  .carrosel {
    background: white;
  }

  .hero-text {
    font-size: 25px;
  }

  .hero-subtext {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .hero-text {
    font-size: 22px;
  }

  .hero-subtext {
    font-size: 13px;
    text-align: center;
  }

  .btn-reservar {
    font-size: 11px;
  }
}