.container-about {
    margin: 200px auto;
    text-align: center;
    display: flex;
    margin-left: 15em;

    & h1 {
        font-size: 40px;
    }
}

.img-about-1 {
    width: 30em;
    height: 30em;
    object-fit: cover;
    border-radius: 2em;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.575);
}

.text-about {
    margin-left: 7em;
    max-width: 47%;
    text-align: left;
    margin-top: 0px;

    & p {
        margin-top: 35px;
        font-size: 18px;
    }
}

.hero-text {
    margin-top: 0px;
}