header {
      text-align: center;
      width: 75%;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;

      nav {
            margin-top: 35px;
      }

      & ul {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            text-align: center;
            font-size: 17px;
            list-style: none;
            cursor: pointer;
      }

      & li {
            opacity: 50%;

            & a {
                  text-decoration: none;
                  color: black;
            }
      }

      & li:hover {
            opacity: 100%;
            transition: ease-in-out 800ms;
      }
}

.logo {
      height: 7.2em;
}

@media (max-width: 684px) {
      a {
            justify-content: center;
            margin: 0 auto;
      }

      nav {
            display: none;
            margin: 0;
            padding: 0;
      }
}