.tour {
    background: #429ec2;
    background: linear-gradient(90deg, rgb(15, 83, 110) 0%, rgba(27, 98, 139, 0.705) 50%, rgb(29, 101, 129) 100%);

}

.container {
    padding: 15px;
    color: white;

    & p {
        font-size: 18px;
        text-align: left;
        max-width: 75%;
        margin-right: 50px;
    }
}

.bus_tour {
    border-radius: 1.5em;
    box-shadow: 5px 5px 25px #0000008e;
    filter: brightness(0.8);
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    justify-content: center;

}

.text-container {
    justify-content: center;
    margin-top: 25px;
    display: flex;
    margin-bottom: 50px;
}

.icon-praia {
    opacity: 75%;
    filter: drop-shadow(1px 1px 2px #000);
}

@media (max-width: 1080px) {
    .text-container {
        padding: 0px;
        max-width: 100%;
        display: block;

        & p {
            max-width: 100%;
            margin: 0 0px 50px 0px;
        }
    }

    .bus_tour {
        margin: 0 auto;
    }
}

@media (max-width: 520px) {
    .container {
        & p {
            font-size: 14px;
            text-align: left;
        }

        & h1 {
            font-size: 20px;
        }
    }
}

@media (max-width: 350px) {

    .text-container {
        & p {
            font-size: 12px;
            text-align: left;
        }
    }

    .icon-praia {
    opacity: 75%;
    filter: drop-shadow(1px 1px 2px #000);
    height: 7.5em;
}
}